.DS_Store
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .vagrant files
.vagrant

# Crash log files
crash.log

# habitat results
results

# Ignore  binaries
Cal*.tar.gz
oracle*tar.gz
hab
keys

# Ignore Auth Keys
vagrant/files/authkeysetup.sh

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars
#
*.tfvars

.kitchen/

!example.tfvars
